:root {
    --sans-font:-apple-system,BlinkMacSystemFont,"Avenir Next",Avenir,"Nimbus Sans L",Roboto,"Noto Sans","Segoe UI",Arial,Helvetica,"Helvetica Neue",sans-serif;
    --mono-font:Consolas,Menlo,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    --bg:#fff;
    --accent-bg:#f6f7fc;
    --text:#212121;
    --text-light:#585858;
    --border:#d8dae1;
    --accent:#0d47a1;
    --code:#d81b60;
    --preformatted:#444;
    --marked:#ffdd33;
    --disabled:#efefef
}

h1 {
    text-align: center;
    margin: .5em;
}

label {
    font-size: 1em;
    margin: 0 auto;
    width: 50%;
}

.form {
    border: 2px solid var(--border);
    padding: 1em;
    border-radius: 5px;
    background-color: var(--accent-bg);
    margin-bottom: 1em;
}

#search {
    margin-bottom: 0;
}

details {
    background-color: white;
    border: 2px solid var(--border);
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: var(--text);
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  viewer-pdf-toolbar {
    display: none !important;
  }
  